body {
    background-color: rgb(228,237,244);
    width:599px; 
    height:427px; 
    overflow-x:hidden;
    margin: 0px;
}

.avatar {
    float: right;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid rgb(228,237,244);
}

.date {
    float: right;
    text-align: center;
    bottom: 0px;
    font-size: 10px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    width: 33px;
}
.snipets {
    float: left;
    width: 505px;
    height: 40px;
    margin: 10px;
    margin-top: 13px;
    margin-bottom: 8px;
    margin-left: 13px;
}
#logo {       
    position:fixed;
    right:0px;
    top:0px;
    width: 599px;
    margin-left: 0px;
    z-index: 1000;
}

#rizzomaLink {    
    cursor: pointer;
    position: fixed;
    top: 18px;
    right: 90px;
    width: 115px;
    height: 25px;
    margin-left: 0px;
    z-index: 10001;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    background-color: red;
}
#notifications {
    position: relative;
    height: 427px;
    overflow: scroll;
    overflow-y :visible;
    overflow-x :hidden;
    margin-top:58px; 
}
.notification {
    cursor: pointer;
    height: 60px;
    width: 599px;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(228,237,244);
    border-left: 1px solid rgb(228,237,244);
    border-right: 1px solid rgb(228,237,244);
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    font-family: arial, sans-serif;
}